.compteTypeDevise {
    padding: 1rem;
}

.typeCompte {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 230px);
}

.typeCompte .card {
    padding: 1rem;
    border: 1px solid #1d2a45;
    position: relative;
    text-align: left;
    width: 200px;
    border-radius: 5px;
    background-color: #101d3a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;

}

.typeCompte .cardd {
    padding: 1rem;
    border: 1px solid #1d2a45;
    position: relative;
    text-align: left;
    width: 500px;
    border-radius: 5px;
    background-color: #101d3a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.typeCompte .card h4 {
    font-size: 15px;
}

.alert {
    border: 1px solid #213359;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.name {
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: left;
}