body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
    cursor: pointer;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #394c77; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #394c77; 
  }